h1{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 40px;
    
}
p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}
body{
    background-color: orange;
    padding: 0, 10px, 30px, 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 30px;
    
    

}
div{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
img{
    border: 10px;
    border-radius: 8px;
    width:405px;
    display: grid;
    grid-row-gap: 15px;
    position: relative;
    grid-template-rows: auto, 1fr;
    border-radius: 15px;
    box-shadow:0 15px rgba(0,0,0,0,6);
    transition: .2 ease-in-out;
    


    
    

}
