h1{
    color: red;
    text-align: center;
    font-size: 80px;
    font-weight: 600;

}
p{text-align: center;
    font-size: 30px;
    color: blue;


}
body{
    background-color: goldenrod;
}